-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: analytics_db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `campaigns`
--

DROP TABLE IF EXISTS `campaigns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campaigns` (
  `id` int NOT NULL AUTO_INCREMENT,
  `campaignName` varchar(255) NOT NULL,
  `channel` varchar(255) NOT NULL,
  `spend` float NOT NULL,
  `revenue` float NOT NULL,
  `status` enum('Active','Completed','Paused') NOT NULL DEFAULT 'Active',
  `startDate` datetime NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `campaigns_status` (`status`),
  KEY `campaigns_channel` (`channel`),
  KEY `campaigns_start_date` (`startDate`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campaigns`
--

LOCK TABLES `campaigns` WRITE;
/*!40000 ALTER TABLE `campaigns` DISABLE KEYS */;
/*!40000 ALTER TABLE `campaigns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketing`
--

DROP TABLE IF EXISTS `marketing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketing` (
  `id` int NOT NULL AUTO_INCREMENT,
  `table_name` varchar(100) NOT NULL,
  `record_id` int NOT NULL,
  `action_type` enum('INSERT','UPDATE','DELETE') NOT NULL,
  `old_values` json DEFAULT NULL,
  `new_values` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketing`
--

LOCK TABLES `marketing` WRITE;
/*!40000 ALTER TABLE `marketing` DISABLE KEYS */;
/*!40000 ALTER TABLE `marketing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marketing_data`
--

DROP TABLE IF EXISTS `marketing_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketing_data` (
  `ID` int DEFAULT NULL,
  `Year_Birth` int DEFAULT NULL,
  `Education` varchar(50) DEFAULT NULL,
  `Marital_Status` varchar(50) DEFAULT NULL,
  `Income` float DEFAULT NULL,
  `Kidhome` int DEFAULT NULL,
  `Teenhome` int DEFAULT NULL,
  `Dt_Customer` date DEFAULT NULL,
  `Recency` int DEFAULT NULL,
  `MntWines` int DEFAULT NULL,
  `MntFruits` int DEFAULT NULL,
  `MntMeatProducts` int DEFAULT NULL,
  `MntFishProducts` int DEFAULT NULL,
  `MntSweetProducts` int DEFAULT NULL,
  `MntGoldProds` int DEFAULT NULL,
  `NumDealsPurchases` int DEFAULT NULL,
  `NumWebPurchases` int DEFAULT NULL,
  `NumCatalogPurchases` int DEFAULT NULL,
  `NumStorePurchases` int DEFAULT NULL,
  `NumWebVisitsMonth` int DEFAULT NULL,
  `AcceptedCmp3` int DEFAULT NULL,
  `AcceptedCmp4` int DEFAULT NULL,
  `AcceptedCmp5` int DEFAULT NULL,
  `AcceptedCmp1` int DEFAULT NULL,
  `AcceptedCmp2` int DEFAULT NULL,
  `Complain` int DEFAULT NULL,
  `Z_CostContact` int DEFAULT NULL,
  `Z_Revenue` int DEFAULT NULL,
  `Response` int DEFAULT NULL,
  KEY `marketing_data__education` (`Education`),
  KEY `marketing_data__marital__status` (`Marital_Status`),
  KEY `marketing_data__response` (`Response`),
  KEY `marketing_data__dt__customer` (`Dt_Customer`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marketing_data`
--

LOCK TABLES `marketing_data` WRITE;
/*!40000 ALTER TABLE `marketing_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `marketing_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `predictive_models`
--

DROP TABLE IF EXISTS `predictive_models`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `predictive_models` (
  `id` int NOT NULL AUTO_INCREMENT,
  `modelName` varchar(255) NOT NULL,
  `modelType` enum('CLV','CHURN','CAMPAIGN_FORECAST','REVENUE_FORECAST') NOT NULL,
  `parameters` json DEFAULT NULL COMMENT 'Serialized model parameters or configuration',
  `metrics` json DEFAULT NULL COMMENT 'Model evaluation metrics (accuracy, precision, recall, etc.)',
  `lastTrainedAt` datetime NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `modelName` (`modelName`),
  KEY `predictive_models_model_type` (`modelType`),
  KEY `predictive_models_active` (`active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `predictive_models`
--

LOCK TABLES `predictive_models` WRITE;
/*!40000 ALTER TABLE `predictive_models` DISABLE KEYS */;
/*!40000 ALTER TABLE `predictive_models` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-06 18:14:50
